# EDA

### Import Library

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import statsmodels.api as sm
import plotly.graph_objects as go
import bokeh

In [3]:
from urllib import parse
from urllib.request import urlopen
from urllib.request import Request
from urllib.error import HTTPError
from bs4 import BeautifulSoup
import json

In [4]:
Client_ID = 'ptzx11wg6b'
Client_Secret = 'QZixKMfoN0TTNXeTphDBJA3uBlEBQAvMtRZj1prZ'
api_url = 'https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query='

In [9]:
'''import pandas as pd
import requests

# CSV 파일에서 데이터 읽기
df = pd.read_csv('data/서울시 도로노선 정보.csv', encoding='euc-kr')

# '도로폭'이 '6m미만'인 행들 필터링
narrow_roads = df[df['도로폭'] == '6m미만']

# 네이버 Geocoding API를 사용하여 주소를 좌표로 변환하는 함수
def geocode(address):
    client_id = 'Client_ID'  # 네이버 개발자 센터에서 발급받은 클라이언트 ID 입력
    client_secret = 'Client_Secret'  # 네이버 개발자 센터에서 발급받은 클라이언트 시크릿 입력
    url = f"https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query={address}"
    headers = {"X-NCP-APIGW-API-KEY-ID": client_id, "X-NCP-APIGW-API-KEY": client_secret}
    response = requests.get(url, headers=headers)
    data = response.json()
    if 'status' in data and data['status'] == 'OK':
        location = data['addresses'][0]
        latitude = location['y']
        longitude = location['x']
        return latitude, longitude
    else:
        print("Geocoding failed.")
        return None, None

# 각 행의 주소를 가져와서 좌표로 변환하여 출력
for index, row in narrow_roads.iterrows():
    address = row['노선명(도로명)']  # '노선명(도로명)' 열의 값을 가져옴
    latitude, longitude = geocode(address)
    if latitude is not None and longitude is not None:
        print(f"도로명: {address}, 위도: {latitude}, 경도: {longitude}")
    else:
        print(f"도로명: {address}, 좌표를 찾을 수 없습니다.")'''

'import pandas as pd\nimport requests\n\n# CSV 파일에서 데이터 읽기\ndf = pd.read_csv(\'data/서울시 도로노선 정보.csv\', encoding=\'euc-kr\')\n\n# \'도로폭\'이 \'6m미만\'인 행들 필터링\nnarrow_roads = df[df[\'도로폭\'] == \'6m미만\']\n\n# 네이버 Geocoding API를 사용하여 주소를 좌표로 변환하는 함수\ndef geocode(address):\n    client_id = \'Client_ID\'  # 네이버 개발자 센터에서 발급받은 클라이언트 ID 입력\n    client_secret = \'Client_Secret\'  # 네이버 개발자 센터에서 발급받은 클라이언트 시크릿 입력\n    url = f"https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query={address}"\n    headers = {"X-NCP-APIGW-API-KEY-ID": client_id, "X-NCP-APIGW-API-KEY": client_secret}\n    response = requests.get(url, headers=headers)\n    data = response.json()\n    if \'status\' in data and data[\'status\'] == \'OK\':\n        location = data[\'addresses\'][0]\n        latitude = location[\'y\']\n        longitude = location[\'x\']\n        return latitude, longitude\n    else:\n        print("Geocoding failed.")\n        return None, None\n\n# 각 행의 주소를 가져와서 좌표로 변환하여 출력\nfor index, row in narrow_roads.iterrows():\n    address = row[\'노선명(도로명)\']  # \'노선명(도로명)\' 열의 값을 가져옴\n    latitude, longitude = geocode(address)\n    if latitude is not None and longitude is not None:\n        print(f"도로명: {address}, 위도: {latitude}, 경도: {longitude}")\n    else:\n        print(f"도로명: {address}, 좌표를 찾을 수 없습니다.")'

In [17]:
df = pd.read_csv('data/서울시 도로노선 정보.csv', encoding='euc-kr')

In [18]:
df.head(3)

     순번 노선명(도로명)  도로종류  도로기능  도로규모     도로폭 시도구도구분
0     1      가락로  일반도로  국지도로  소로2류  폭8-10m     구도
1     2   가락로11길  일반도로  국지도로  소로3류   폭6-8m     구도
2  2207   노해로40길  일반도로  국지도로    소로    6m미만     구도

In [19]:
# '노선명(도로명)'과 '도로폭' 열만 가져오기
df = df[['노선명(도로명)', '도로폭']]

In [20]:
df.head(3)

  노선명(도로명)     도로폭
0      가락로  폭8-10m
1   가락로11길   폭6-8m
2   노해로40길    6m미만

In [21]:
six_roads = df[df['도로폭'] == '6m미만']

In [22]:
six_roads.head(10)

   노선명(도로명)   도로폭
2    노해로40길  6m미만
3   노해로41가길  6m미만
5    가락로13길  6m미만
6    가락로15길  6m미만
8    가락로17길  6m미만
9    가락로18길  6m미만
10   가락로19길  6m미만
12   가락로21길  6m미만
13   가락로23길  6m미만
15    가락로3길  6m미만

In [23]:
six_roads = six_roads[~six_roads['노선명(도로명)'].str.contains('무명도로')]

In [24]:
six_roads.head(10)

   노선명(도로명)   도로폭
2    노해로40길  6m미만
3   노해로41가길  6m미만
5    가락로13길  6m미만
6    가락로15길  6m미만
8    가락로17길  6m미만
9    가락로18길  6m미만
10   가락로19길  6m미만
12   가락로21길  6m미만
13   가락로23길  6m미만
15    가락로3길  6m미만

In [46]:
df = pd.read_csv('data/119+안전센터+1개소당+시민수_20240313150836.csv')

In [47]:
df.head(3)

,자치구별(1),자치구별(2),2022,2022.1,2022.2,2021,2021.1,2021.2,2020,2020.1,...,2014.2,2013,2013.1,2013.2,2012,2012.1,2012.2,2011,2011.1,2011.2
0,자치구별(1),자치구별(2),인구 (명),119안전센터 (개소),119안전센터 1개소당 담당인구 (명),인구 (명),119안전센터 (개소),119안전센터 1개소당 담당인구 (명),인구 (명),119안전센터 (개소),...,119안전센터 1개소당 담당인구 (명),인구 (명),119안전센터 (개소),119안전센터 1개소당 담당인구 (명),인구 (명),119안전센터 (개소),119안전센터 1개소당 담당인구 (명),인구 (명),119안전센터 (개소),119안전센터 1개소당 담당인구 (명)
1,합계,소계,9428372,119,79230,9509458,119,79911,9668465,118,...,87854,10143645,115,88206,10195318,115,88655,10249679,114,89909
2,합계,종로구,141379,6,23563,144683,6,24114,149384,6,...,26166,160070,6,26678,165207,6,27535,168382,6,28064

In [48]:
# '자치구별(2)'와 '2022.1' 열만을 선택하여 새로운 데이터프레임 생성
selected_columns = df[['자치구별(2)', '2022.2']]

# 열 이름을 '구이름', '2022년_119안전센터_1개소당_담당인구'로 변경
selected_columns.columns = ['자치구', '119안전센터 1개소 당 담당인구']

# 첫 번째 행은 열 이름이기 때문에 삭제
selected_columns = selected_columns.drop(0)

# 결과 출력
selected_columns.head(5)

   자치구 119안전센터 1개소 당 담당인구
1   소계              79230
2  종로구              23563
3   중구              24087
4  용산구              43730
5  성동구              70250

In [49]:
selected_columns = selected_columns.drop(1)
selected_columns.head(10)

     자치구 119안전센터 1개소 당 담당인구
2    종로구              23563
3     중구              24087
4    용산구              43730
5    성동구              70250
6    광진구             112472
7   동대문구              67329
8    중랑구              96330
9    성북구             107599
10   강북구              73415
11   도봉구              77924

In [50]:
selected_columns = selected_columns.reset_index(drop=True)

In [63]:
selected_columns.head(10)

    자치구 119안전센터 1개소 당 담당인구
0   종로구              23563
1    중구              24087
2   용산구              43730
3   성동구              70250
4   광진구             112472
5  동대문구              67329
6   중랑구              96330
7   성북구             107599
8   강북구              73415
9   도봉구              77924

In [67]:
selected_columns['119안전센터 1개소 당 담당인구'] = selected_columns['119안전센터 1개소 당 담당인구'].astype(int)
selected_columns_sorted = selected_columns.sort_values(by='119안전센터 1개소 당 담당인구', ascending=False)
selected_columns_sorted.head(10)

    자치구  119안전센터 1개소 당 담당인구
20  관악구              121688
11  은평구              116687
17  금천구              114821
4   광진구              112472
23  송파구              109800
7   성북구              107599
10  노원구              100747
6   중랑구               96330
19  동작구               95149
15  강서구               94861

In [68]:
selected_columns_sorted.reset_index(drop=True, inplace=True)
selected_columns_sorted.head(10)

   자치구  119안전센터 1개소 당 담당인구
0  관악구              121688
1  은평구              116687
2  금천구              114821
3  광진구              112472
4  송파구              109800
5  성북구              107599
6  노원구              100747
7  중랑구               96330
8  동작구               95149
9  강서구               94861

In [69]:
selected_columns_sorted['순위'] = range(1, len(selected_columns_sorted) + 1)
selected_columns_sorted.head(10)

   자치구  119안전센터 1개소 당 담당인구  순위
0  관악구              121688   1
1  은평구              116687   2
2  금천구              114821   3
3  광진구              112472   4
4  송파구              109800   5
5  성북구              107599   6
6  노원구              100747   7
7  중랑구               96330   8
8  동작구               95149   9
9  강서구               94861  10

In [73]:
selected_columns_sorted.to_csv('119안전센터 1개소 당 담당인구.csv', index=False, encoding='utf-8-sig')